<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://puchong0008-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5082.site4now.net:8172/msdeploy.axd?site=puchong0008-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>puchong0008-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>puchong0008-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model11" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e7d0_puchong0008;User ID=db_a7e7d0_puchong0008_admin;Password=Pxbirdisnumber1@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DoAn_LapTrinhWeb.DbContext, DoAn_LapTrinhWeb" MigrationConfiguration="DoAn_LapTrinhWeb.Migrations.Configuration, DoAn_LapTrinhWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Model11-Web.config Connection String">
      <ParameterValue>Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e7d0_puchong0008;User ID=db_a7e7d0_puchong0008_admin;Password=Pxbirdisnumber1@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>